/*
Autor:
    Ornelas Valenczuela Laura Sofia
Estilos CSS para la interfaz web del robot submarino
*/

/*
Estilos generales de la página
*/
html {
            overscroll-behavior-y: none; /* Evita el rebote al hacer scroll */
        }

        /* Estilos para el cuerpo de la página */
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(135deg,#150c37 40%, #0d0824  100%);
            color: white;
            margin: 20px;
            min-height: 100vh;         
        }

        /* Estilos para los encabezados h1 */
        h1 {
            font-family: "Bruno Ace", sans-serif;
            text-align: left;
            margin-bottom: 20px;
            position: relative;
            font-weight: 400;
            font-size: 35px;
        }

        /* Estilos para el pseudo-elemento after de los encabezados h1 */
        h1::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -6px;                  
            height: 2px;                     
            background: linear-gradient(135deg, #a3a0f5 5%,#37334d 30%, #15112a 100%);
        }

        /* Estilos para el contenedor principal de la vista */
        .container {
            display: flex;
            padding: 20px;
            justify-content: space-between;
        }

        /* Estilos para las columnas izquierda y derecha del contenedor principal */
        .left-column, .right-column {
            width: 48%;
        }
        
        /* Estilos para la barra de temperatura */
        .temp-bar {
            background-color: #3f3d4c;
            padding: 10px;
            font-weight: 600;
            margin-bottom: 12px;
            display: inline-flex;
            min-width: 46.6%;
            justify-content: space-between;
            align-items: start;
            border-radius: 5px;
        }

        /* Estilos para el texto dentro de la barra de temperatura */
        .temp-bar span{
            font-size: 18px;
            font-weight: 200 !important;
            margin-left: 10px;
        }

        /* Estilos para los círculos de estado */
        .green-circle {
            background-color: gray;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
        }

        /* Estilos para los elementos details y summary */
        details summary {
            background-color:  #3f3d4c;
            padding: 10px;
            cursor: pointer;
            list-style: none;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        /* Ocultar el marcador predeterminado del resumen */
        details summary::-webkit-details-marker {
            display: none;
        }

        /* Agregar un símbolo antes del resumen */
        details summary::before {
            content: '▼ '; 
            font-size: 12px;
        }

        /* Cambiar el símbolo cuando el detalle está abierto */
        details[open] summary::before {
            content: '▲ '; 
        }

        /* Estilos para las tablas */
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: #76767f;
            color: black;
            margin-bottom: 20px;
        }

        /* Estilos para las celdas de las tablas */
        th, td {
            border: 1px solid #01001e;
            padding: 8px;
            text-align: left;
        }

        /* Estilos para los encabezados de las tablas */
        th {
            background-color:  #01001e;
            color: white;
            text-align: center;
        }
        
        /* Estilos específicos para el giroscopio */
        .gyroscope-container {
            background: #0d0824;
            padding: 15px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;    
            align-items: center;
        }

        /* Estilos específicos para el giroscopio */
        #gyro3d {
            width: 100%;
            background:linear-gradient(180deg, #004f73 10%, #0d0824 100%);
            border-radius: 6px;
        }

        /* Estilos para los datos de los sensores */
        .sensor-data p {
            margin: 6px 0;
            color: #ffffff;
        }

        /* Estilos para las columnas */
        .right-column {
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 20px;                
        }

        